html, body {
    color: white;
}

.app {
    position: relative;
    height: 100vh;
}

.searchResults {
    overflow-y: scroll;
    height: 100vh;
}

.deckForm {
    overflow-y: scroll;
    height: 100vh;
    padding: 10px !important;
}