html, body {
    color: white;
}

.app {
    position: relative;
    height: 100vh;
}

.searchResults {
    overflow-y: scroll;
    height: 100vh;
}

.deck {
    overflow-y: scroll;
    height: 100vh;
}