html, body {
    color: white;
    box-sizing: border-box;
}

.app, .mainArea {
    height: 100vh;
}

.mainArea {
    padding-top: 10px !important;
}

.card-grid {
    overflow-y: scroll;
    height: 100vh;
}

.noCardsDialog {
    margin-top: 20vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 30em;
}