.deckFormContainer {
    flex: 1;
    display: flex !important;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box;
    flex-direction: column;
}

.deckForm {
    height: 100%;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box;
    flex-direction: column;
}

.deckTextArea {
    height: 100% !important;
    max-height: 100% !important;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box;
}
