.deckForm {
    height: 70vh;
    /*max-height: 100px;*/
}

.deckTextArea {
    padding: 10px !important;
    width: 100% !important;
    height: 100% !important;
    max-height: none !important;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box;
}